<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="github.com/Igorbixofis">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aba</title>
</head>
<body>

  <!-- eu sou um comentario -->
   <marquee  bgcolor= "red " direction="right">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, porro.</marquee>
   <marquee  bgcolor= "blue " direction="down">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, porro.</marquee>
   <marquee  bgcolor= "green " direction="up">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, porro.</marquee>
   <marquee  bgcolor= "lilac " direction="left">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, porro.</marquee>
</body>
</html>